@model LoginViewModel

<div class="div-box">
    <h1>Login to your personal account</h1>
    <div>
        <form asp-area="" asp-controller="Account" asp-action="Login" method="post" asp-route-returnUrl="@ViewBag.returnUrl">
            <div asp-validation-summary="All"></div>
            <div>
                <label class="div-box-label" asp-for="UserName"></label>
                <input asp-for="UserName" />
                <span asp-validation-for="UserName"></span>
            </div>
            <div>
                <label class="div-box-label" asp-for="Password"></label>
                <input asp-for="Password" />
                <span asp-validation-for="Password"></span>
            </div>
            <div>
                <label class="div-box-label" asp-for="RememberPassword"></label>
                <input asp-for="RememberPassword" />
                <span asp-validation-for="RememberPassword"></span>
            </div>
            <div>
                <input type="submit" value="Log In" />
            </div>
        </form>
    </div>
</div>